#home{
  background: url('../img/Throne_Background.jpg') no-repeat center center fixed;
  background-position: center;
  height: 100vh;
  width: 100vw;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.content{
  margin: 70px;
}

.fa {
  padding: 10px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

.fa-android {
  background: #a4c639;
  color: white;
}

body
{
  background-color: #cbd8f7;
}

.block{
  display:inline-block;
  width:16%;
  margin:0.3vw;
  padding:0.5vw;
  font-size:20px;
  text-align:center;
}

.digit{
  display:block;
  font-size:50px;
  background-color:#237bc4;
  overflow:hidden;
  color:#18123C;
}

#clock{
  display:block;
  width:40vw;
  margin-left:auto;
  margin-right:auto;
  margin-top:20px;
  padding:20px;
  text-align:center; 
}

.demo 
{ 
  text-align:center; margin-top:2000px;
}
span.counter 
{
 display:block; 
 margin:20px auto; 
 font-size:64px; 
}

.tallDiv 
{
   height: 800px;
   background-color: silver;
}

span.c-section4
{
  font-size:50px;
  font-family: 'Roboto Slab', serif;
}

.counter-section 
{
  display:inline-block;
  width:30%;
  font-family: 'Roboto Slab', serif;
}


