html{
  scroll-behavior: smooth;
}

@media only screen and (max-width: 1440px) {
    #home
    {
      background: url('../img/Throne_Background.jpg') no-repeat center center fixed;
      background-position: center;
    height: 100vh;
    width: 100vw;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    }
}

@media only screen and (max-width: 800px) {
  #home
  {
    background: url('../img/inf19mobile320.jpg') no-repeat center center fixed;
    background-position: center;
    height: 100vh;
    width: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
  }
}

/* @media only screen and (max-width: 320px) {
  #home
  {
    background: url('../img/inf19mobile320.jpg') no-repeat center center fixed;
    background-position: center;
    height: 100vh;
    width: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
  }
} */

.content{
  margin-top: 70px;
}

.fab {
  padding: 10px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.fab:hover {
  opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

.fa-android {
  background: #a4c639;
  color: white;
}

.block{
  display:inline-block;
  width:16%;
  margin:0.3vw;
  padding:0.5vw;
  font-size:20px;
  text-align:center;
}

.digit{
  display:block;
  font-size:50px;
  background-color:#237bc4;
  overflow:hidden;
  color:#18123C;
}

#clock{
  display:block;
  width:40vw;
  margin-left:auto;
  margin-right:auto;
  margin-top:20px;
  padding:20px;
  text-align:center; 
}

.demo 
{ 
  text-align:center; margin-top:2000px;
}
span.counter 
{
 display:block; 
 margin:20px auto; 
 font-size:64px; 
}

.tallDiv 
{
   height: 800px;
   background-color: silver;
}

span.c-section4
{
  font-size:50px;
  font-family: 'Roboto Slab', serif;
}

.counter-section 
{
  width:30%;
  font-family: 'Roboto Slab', serif;
}

.fa-3x{
  color: black;
}

@media only screen and (max-width:995px)
{
  .photo{
    display: flex;
    flex-direction: row;
    justify-content: center;  
  }
}

.team
{
  border-radius: 50%;
  width: 150px;
  height: 150px;
  margin: 15px;
}

#loading
{
  background: url('https://i.postimg.cc/Vv1Vfhhy/inf.gif') no-repeat center center;
  position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 9999999;
}

/* Confetti loader - start */
.wrapper {
  position: relative;
  min-height: 100%;
}

[class|="confetti"] {
  position: absolute;
}

.red {
  background-color: #E94A3F;
}

.yellow {
  background-color: #FAA040;
}

.blue {
  background-color: #5FC9F5;
}
/* Confetti loader - end */
